<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{baseUrl}}/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
  <script>
    function confirmDelete(url) {
      var r = confirm('Are you sure you want to delete?');      
      if (r == true) {
        window.location.href = url;
      }
    }
  </script>
</head>

<body style="margin:0; font-family: Roboto; font-weight: 300;">
  <div class="header">
    <div class="header-inner">      
      <b>kuiper</b>                             
    </div>
  </div>
  <div style="height: 4px; background: linear-gradient(0, #FFF, #BBB);"></div>  
  <div class="main">
    {{{body}}}
  </div>
</body>

</html>